@import url(./styles/header.css);
@import url(./styles/profile.css);
@import url(./styles/card.css);
@import url(./styles/javascript.css);
@import url(./styles/footer.css);
@import url(./styles/saibamais.css);
@import url(./styles/contador.css);
@import url(./styles/meuperfil.css);
@import url(./styles/cartasdeadeus.css);



:root {
    --cor-de-fundo:  #e2dcdc;
    --cor-header:  rgb(56, 8, 102);
    --branco: #ffffff;
    --font-principal: "Poppins", sans-serif;
    --azul: rgb(20, 20, 65);
    --roxo-fosco:  rgb(68, 50, 92);
    --azul-brilhante: rgb(55, 20, 151);
    --vermelho: rgb(240, 80, 80);
    --verde-agua: rgb(99, 177, 187);
    
}
/*rgb(45, 157, 165); rgba(226, 196, 151, 0.993);*/
body {
    background:rgba(168, 156, 221, 0.705);
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: var(--font-principal);
   
}
