@import url(./styles/header.css);
@import url(./styles/profile.css);
@import url(./styles/card.css);
@import url(./styles/javascript.css);
@import url(./styles/footer.css);
@import url(./styles/saibamais.css);
@import url(./styles/contador.css);
@import url(./styles/meuperfil.css);
@import url(./styles/cartasdeadeus.css);



:root {
    --cor-de-fundo:  #e2dcdc;
    --cor-header:  rgb(56, 8, 102);
    --branco: #ffffff;
    --font-principal: "Poppins", sans-serif;
    --azul: rgb(20, 20, 65);
    --roxo-fosco:  rgb(68, 50, 92);
    --azul-brilhante: rgb(55, 20, 151);
    --vermelho: rgb(240, 80, 80);
    --verde-agua: rgb(99, 177, 187);
    
}

body {
    background: var(--cor-de-fundo);
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: var(--font-principal);
   
}

.saibamais {
    text-align: center;
}
.saibamais_titulo {
    font-size: 1.6rem;
    color: var(--azul);
    font-weight: 700;
}
.saibamais_texto {
    color: blueviolet;
    border: 1px solid blue;
    border-radius: 0.3rem;
    width: 60%;
    margin: 0.8rem auto;
    padding: 0.8rem;
    background-color: rgb(168, 168, 228);

}
