@import url(../reset.css);
@import url(../styles/style.css);
@import url(../styles/header.css);
@import url(../styles/footer.css);

.cabeçalho {
    background: rgb(56, 8, 102);
    display: flex;
    justify-content: space-between;
    
   
}
.container {
    display: flex;
    justify-content: space-between;
   
}
.container_titulo {
    
}
.icon {
    color: white;
}


.search {
    text-align: center;
}
.search_titulo {
    font-size: 1.8rem;
    color: var(--azul);
    font-weight: 700;
    text-align: center;
    padding: 0.8rem 0;
}
.search_texto {
    margin-top: 0.8rem;
    padding: 0.8rem;
    line-height: 1.5;
    text-align: center;
    font-style: italic;
}
.search_pesquisa {
    width: 60%;
    border: 2px solid  rgb(47, 3, 77);
    border-radius: 0.4rem;
    background: transparent;
    padding: 0.8rem;
    font-size: 1.4rem;
    color: rgb(55, 55, 100);
    margin-bottom: 1.6rem;

}
.search_pesquisa::placeholder {
    font-size: 1.4rem;
    color: rgb(55, 55, 100);
    
}
.search_botão {
    border: 1px solid  rgb(47, 3, 77);
    border-radius: 0.4rem;
    padding: 0.8rem;
    font-size: 1.4rem;
    background-color:  rgb(168, 168, 228);
    color:  rgb(55, 55, 100);
}
.hrblack {
    color: black;
}
.verso  {
    font-size: 1.8rem;
    text-align: center;
    padding: 1.6rem 0;
    font-weight: 600;
}
.verso1 {
   background-color:var(--verde-agua);
}
.verso2 {
    background-color: var(--bg-fundo2);
    color: var(--black);
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
.verso3 {
    background-color: var(--bg-card);
    border:1px solid blue;
    border-radius: 0.4rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.6rem;
   
    color: black;
}
.verso4 {
    margin-top: 1.6rem;
}

.verso_texto {
    line-height: 1.5;
    padding: 0.8rem;
    
    padding-bottom: 1.6rem;
    margin-bottom: 0.8rem;

}

.verso_texto_direita {
    line-height: 1.5;
    padding: 0.8rem;
    padding-bottom: 1.6rem;
    margin-bottom: 0.8rem;
    text-align: right;

}
.verso_texto_centro {
    line-height: 1.5;
    padding: 0.8rem;
    padding-bottom: 1.6rem;
    margin-bottom: 0.8rem;
    text-align: center;

}