.javascript {
    background-color:var(--cor-header);
}

.javascript_titulo {
    color: var(--branco);
    text-align: center;
    margin: 0.8rem 0;
   padding-top: 0.8rem;
}
.lista_javascript {
    margin: 0.8rem;
    display: flex;
    justify-content: center;

}


.link_javascript {
   background-color: rgb(38, 155, 201);
   color: var(--azul-brilhante);
   font-weight: 700;
   text-decoration: none;
   padding:0.8rem;
   margin: 1.6rem 0.8rem;
   font-size: 1.4rem;
}