* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(168, 168, 228);
    font-family: var(--font-principal);
    
}
.menu_hamburguer {
    background-image: url(../img/menu_black_24dp\ 1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.menu_lista {
    display: none;
    top:100%;
    position: absolute;

    background-color: var(--cor-header);
    width: 60vw;
    font-size: 1.4rem;
  
    margin-left: -1.6rem;
    
}
.menu_botão:checked~.menu_lista {
    display: block;

}
.menu_lista-item {
    background-color: var(--cor-header);
    list-style: none;
}
.menu_lista-link {
    display: block;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    padding: 1.6rem;
}
.menu_botão{
    display: none;
}


.container_titulo{
    margin-left: 0.8rem;
}
.cabecalho {
    font-size: 1.0rem;
    padding-left: 0.8rem;
    border-radius: 0 0 0.8rem 0.8rem;
    display: flex;
    color: var(--branco);
    
}

.container {
    display: flex;
    justify-content: space-between;
   
}
ion-icon {
    font-size: 2.8rem;
    color: var(--branco);
    padding: 0.8rem;
}



.texto_principal {
    padding: 1.6rem;
}
p {
    padding: 0.3rem 0;
}
.italic {
    font-style: italic;
    font-size: 1.8rem;
}
.family {
    font-family: san-serif;
    font-size: 1.8rem;
    font-style: italic;
}
.weight {
    font-weight: 700;
}
.fim {
    text-align: center;
}