

.texto_principal {
    padding: 1.6rem;
}
p {
    padding: 0.3rem 0;
}
.italic {
    font-style: italic;
    font-size: 1.8rem;
}
.family {
    font-family: san-serif;
    font-size: 1.8rem;
    font-style: italic;
}
.weight {
    font-weight: 700;
}
.fim {
    text-align: center;
}