@import url(../styles/header.css);



p {
    padding: 0.3rem 0.8rem;
    line-height: 1.5;
    font-size: 1.6rem;
}
.italicc {
    font-style: italic;
}
.italic {
    font-style: italic;
    text-align: center;
    background-color: rgb(167, 98, 231);
   
}
.talvez {
    padding: 0.8rem 1.6rem;
    text-align: center;
   
}
.quarto {
    width: 80%;
    margin: 0.8rem auto;
    text-align: center;
    border: 1px solid rgb(88, 32, 141);
    border-radius: 0.8rem;
    padding: 0.8rem;
    background-color: rgb(158, 204, 235);
    color: rgb(57, 23, 90);
}
.font {
    font-size: 1.8rem;
}
.letter {
    letter-spacing: 0.2rem;
}
.p {
    font-weight: 700;
    font-style: italic;
}

.center {
    text-align: center;
}
.margintop {
    margin-top: 1.6rem;
}
.marginbottom {
    margin-bottom: 1.6rem;
}
.bgeitalic {
    text-align: center;
    background-color: rgb(167, 98, 231);
}