:root {
    font-size: 62.5%;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  rgb(168, 168, 228);
    font-size: 1.6rem;
    text-align: center;
    color: rgb(56, 10, 97);
   
    border: 5px solid blueviolet;
    border-radius: 0.8rem;
    width: 60%;
    margin: 7rem auto;
    padding: 0.8rem;

    
}
h1 {
    font-size: 3.6rem;
    color: rgb(29, 29, 138);
}